@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500&display=swap');

/* removes tap blinking and interface scaling on ios devices */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    touch-action: none;
}

:root {
    --canvas-background: #768388;
    --gcpmsp-color: rgb(51, 0, 102);
    --logo-size: 45px;
    --logo-margin: 6px;
    --title-width: 200px;
    --title-font-size: 15px;
    --sign-width: 145px;
    --sign-font-size: 11px;
    --menu-button-size: 50px;
    --menu-button-border: 2px;
    --menu-button-shadow: 0 0 5px rgb(46, 47, 48);
    --zones-width: calc(100% - var(--menu-button-border) * 2);
    --zones-label-width: 170px;
    --zones-label-padding: 8px;
    --zones-color-square-size: 20px;
    --zones-p-font-size: 14px;
}

.body {
    width: 100%;
    height: 100%;
    position: fixed;
    outline: none;
    margin: 0;
    overflow: hidden;
}

.webgl {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    outline: none;
    margin: 0;
    overflow: hidden;
    z-index: 0;
    background-color: var(--canvas-background);
}

.gui {
    width: 330px;
    height: auto;
    top: 5px;
    right: 10px;
    position: absolute;
    user-select: none;
    z-index: 10;
}

.top {
    width: 100%;
    height: calc(var(--logo-size) + var(--logo-margin) * 2);
    top: 0px;
    left: 0px;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.label {
    width: auto;
    height: auto;
    top: 0px;
    left: 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: var(--logo-size);
    height: var(--logo-size);
    position: relative;
    margin: var(--logo-margin);
    background-image: url('/assets/lab-logo.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    width: var(--title-width);
    height: auto;
    position: relative;
    color: var(--gcpmsp-color);
    user-select: none;
}

.title-p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: var(--title-font-size);
    font-weight: 500;
    /* text-shadow: 3px 4px 2px rgba(51, 0, 102, 0.2); */
    margin: 0px;
}

.sign {
    width: var(--sign-width);
    height: auto;
    position: relative;
    color:rgb(26, 33, 37);
}

.sign-p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: var(--sign-font-size);
    font-weight: 500;
}

.zones {
    width: var(--zones-width);
    height: 100px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -100%);
    opacity: 0%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(185, 205, 212) 50%, rgb(159, 184, 184) 100%);
    border: var(--menu-button-border) solid var(--gcpmsp-color);
    border-top: none;
    border-radius: 0 0 10px 10px;
    box-shadow: var(--menu-button-shadow);
    user-select: none;
    z-index: 2;
}

.zones-label {
    width: var(--zones-label-width);
    height: var(--zones-color-square-size);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--zones-label-padding);
}

.zones-color-square {
    width: var(--zones-color-square-size);
    height: var(--zones-color-square-size);
    position: relative;
    background-color: rgb(80, 116, 231);
    border-radius: 5px;
    box-shadow: var(--menu-button-shadow);
}

.zones-p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: var(--zones-p-font-size);
    font-weight: 500;
    margin: 0 0 0 5px;
}

.menu {
    width: 100%;
    height: calc(var(--menu-button-size) + var(--menu-button-border) * 2);
    bottom: 14px;
    left: 0px;
    position: absolute;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.button-building {
    width: var(--menu-button-size);
    height: var(--menu-button-size);
    border: var(--menu-button-border) solid var(--gcpmsp-color);
    border-radius: 5px;
    margin-right: 10px;
    background-image: url('/assets/building-x.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    box-shadow: var(--menu-button-shadow);
    cursor: pointer;
}

.button-building-pressed {
    background-image: url('/assets/building.svg');
}

.button-zones {
    background-image: url('/assets/bookmark.svg');
    background-size: 75%;
}

.button-zones-pressed {
    background-image: url('/assets/bookmark-x.svg');
}

.preloader {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    position: absolute;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--canvas-background);
}

.preloader-logo {
    width: 160px;
    height: 160px;
    margin-bottom: 10px;
    position: relative;
    background-image: url('/assets/lab-logo.svg');
}

.preloader-bar-container {
    width: 200px;
    height: 6px;
    position: relative;
}

.preloader-bar {
    width: 0%;
    height: 100%;
    border-radius: 3px;
    background-color: var(--gcpmsp-color);
}

.device-block {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    position: absolute;
    z-index: 100;
    background: url('/assets/rotate-device.svg'), var(--canvas-background);
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: 40%, 100%;
}

@media (min-width: 768px) {
    :root {
        --logo-size: 65px;
        --logo-margin: 12px;
        --title-width: 280px;
        --title-font-size: 20px;
        --sign-font-size: 16px;
        --sign-width: 200px;
        --menu-button-size: 55px;
        --menu-button-border: 2px;
        --zones-width: 480px;
        --zones-label-width: 200px;
        --zones-color-square-size: 25px;
        --zones-p-font-size: 16px;
    }
}